<h2 class="ui header">Full stack web developer <span>🌐</span></h2>
    <div class="ui segment">
        <div class="ui grid padded">
            <div class="two column stackable row">
                <div class="four wide tablet three wide computer column">
                    <img class="ui large middle-aligned rounded image" src="./assets/images/18636091.png">
                    <div class="ui hidden divider"></div>
                    <a href="./assets/files/CV.pdf">
                    <button class="ui fluid primary button">
                        Get my CV
                    </button>
                    </a>
                </div>
                <div class="twevle wide tablet thirteen wide computer column">
                    <h3 class="ui header">Niko Dovidija</h3>
                        <div class="ui list">
                            <div class="item">
                                <span><b>Age:</b> 24 👨</span>
                            </div>
                            <div class="item">
                                <span><b>Education:</b>BSc. Administrative computer systems 📖</span>
                            </div>
                            <div class="item">
                                <span><b>Location of residency:</b> Ljubljana 🏠</span>
                            </div>
                        </div>
                        <div class="ui grid">
                            <div class="three column stackable row">
                                <div class="ui column">
                                <a href="https://github.com/NikoDovidija">
                                <button class="ui basic fluid button">
                                    <i class="github icon"></i>
                                    Github
                                </button>
                                </a>
                                </div>
                                <div class="ui column">
                                <a href="https://www.linkedin.com/in/niko-dovidija/">
                                <button class="ui basic fluid button">
                                    <i class="linkedin icon"></i>
                                    Linkedin
                                </button>
                                </a>
                                </div>
                                <div class="ui column">
                                <a href="mailto:niko.dovidija@gmail.com">
                                <button class="ui basic fluid button">
                                        <i class="mail icon"></i>
                                    Mail
                                </button>
                                </a>
                                </div>
                            </div>
                        </div>
                    <div class="ui divider"></div>
                        <p>I'm ready to learn, explore and study new technologies and methods that enable the creation of a diverse set of software
                        solutions. Get in touch with me and let us develop something interesting together.<br>
                        My preferred type of employment is through student service or contract work (the latter i prefer more). I plan to purse
                        a master's degree in Ljubljana, starting this year (2019).<br>
                        <br>
                        Best of luck,<br>
                        Niko
                    </p>
                </div>
            </div>
            <h3 class="ui header">Skills</h3>
        </div>
        <div class="ui grid stackable padded five column">
            <div class="column wide">
                <h5 class="ui header">Web development:</h5>
                <div class="ui bulleted list">
                    <div class="item">
                        <div class="middle aligned content">
                            HTML5 & CSS
                        </div>
                    </div>
            <div class="item">
                <div class="middle aligned content">
                    PHP
                </div>
            </div>
                <div class="item">
                    <div class="middle aligned content">
                        Javascript
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        Typescript
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        Node.js
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        Angular
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        Vue.js
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        .NET core
                    </div>
                </div>
            </div>
        </div>
            <div class="column wide">
                <h5 class="ui header">Mobile development:</h5>
                <div class="ui bulleted list">
                    <div class="item">
                        <div class="middle aligned content">
                            Java
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            Kotlin
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            Swift
                        </div>
                    </div>
                </div>
            </div>
        <div class="column wide">
            <h5 class="ui header">Database desing & use:</h5>
            <div class="ui bulleted list">
                <div class="item">
                    <div class="middle aligned content">
                        Relational database desing
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        MYSQL
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        MSSQL
                    </div>
                </div>
            <div class="item">
                <div class="middle aligned content">
                    MONGODB
                </div>
            </div>
            </div>
        </div>
            <div class="column wide">
                <h5 class="ui header">UX&UI desing:</h5>
                <div class="ui bulleted list">
                    <div class="item">
                        <div class="middle aligned content">
                            Digital design(website, mobile and app desing)
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            Print desing
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            Wireframing
                        </div>
                    </div>
                    <div class="item">
                        <div class="middle aligned content">
                            UX analisys and UX driven desing
                        </div>
                    </div>
                </div>
            </div>
        <div class="column wide">
            <h5 class="ui header">Other:</h5>
            <div class="ui bulleted list">
                <div class="item">
                    <div class="middle aligned content">
                        Docker
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        Azure, AWS, Firebase
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        VCS,Git, Sourcetree
                    </div>
                </div>
                <div class="item">
                    <div class="middle aligned content">
                        Terminal(zsh, bash)
                    </div>
                </div>
            <div class="item">
                <div class="middle aligned content">
                    Use of different operating systems (Linux, OSX and Windows).
                </div>
            </div>
            </div>
        </div>
    </div>
</div>