<div class="image porfolio-image-holder">
    <a *ngIf="project.thumbnail;else imagealt" href="{{project.projectType.url}}">
        <img appLazyload class="ui fluid image rounded" [class.hoverable]="project.thumbnail" src="{{'./assets/images/' + project.thumbnail}}">
    </a>
    <ng-template #imagealt>
        <img appLazyload class="ui fluid small image rounded" src="{{'./assets/images/' + 'image.png'}}">
    </ng-template>
</div>
<div class="ui divider hidden"></div>
<div class="content">
    <a *ngIf="project.projectType.url;else nolink" class="header" href="{{project.projectType.url}}">
        <h3>{{project.title}}</h3>
    </a>
    <ng-template #nolink>
        <h3>{{project.title}}</h3>
    </ng-template>
    <div class="meta">
        <span *ngIf="project.projectType.source !== undefined && project.projectType.source !== null">
            <i class="github icon"></i>{{project.projectType.source}}
        </span>
    </div>
    <div class="description">
        <p>{{project.descp}}</p>
    </div>
    <div class="extra">
        <span class="ui blue label" *ngFor="let techologies of project.stack">
            {{techologies}}
        </span>
    </div>
</div>

